.container{
  display: flex;
  justify-content: center;
}
.jumbotron {
  justify-content: center;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.575);
  border-radius: 5px;
}

.main-heading{
  color: #212529;
  border-radius: 0.3rem;

}

.header-bar{
  padding: 2rem;
  background-color: #4887bb;
  /* background-color: linear-gradient(90deg, #EEA398 0%, #EB790F 43%, #EB796F 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.btn{
  padding: 10px;
  background-color: #4887bb;
  border: #000000;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: larger;
}

.btn:hover{
  background-color: #4785b8;
}

